$navBackground: #4056A1;
$fontBody: 'Source Sans Pro', sans-serif;

.nav {
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: $navBackground, 1;
  font-family: 'Bungee', sans-serif;
  justify-content: space-between;
  display: flex;
  
 }

 .navTweet {
  font-family: $fontBody;
 }

 .navDiv {
  display: flex;
  flex-direction: column;
    i {
     display: flex;
     justify-content: center;
     
     &:hover {
      color: red;
      transform: scale(1.2);
     }
    }
}


 @media only screen and (min-width: 1000px) {
  .nav {
  background-color: $navBackground;
  z-index: 1;
  }
 };