.profileHeader {
  display: flex;
  height: 620px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.profileHeader div {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .profileHeader {
    height: 700px;
    position: sticky;
    top: 120px;
    z-index: 0;
  }
}